@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.navbar-all {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 50;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 0px 1px 1px rgba(100, 116, 139, 0.06), 0px 1px 2px rgba(100, 116, 139, 0.1);
          box-shadow: 0px 1px 1px rgba(100, 116, 139, 0.06), 0px 1px 2px rgba(100, 116, 139, 0.1);
}

.navbar-all .menuBtn {
  display: none;
}

.navbar-all ul {
  background-color: white;
  width: 95%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-all ul li {
  position: relative;
  width: calc(100% / 6);
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-all ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #111827;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: 'Open Sans', sans-serif;
  font-weight: 550;
  font-size: 16px;
}

.navbar-all ul li .LinkBtn {
  width: 100%;
}

.navbar-all ul li .LinkBtn .Button {
  width: 100%;
  height: 100%;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: inherit;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 550;
  color: #111827;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-all ul li .LinkBtn .Button:hover {
  background-color: #295091;
  color: white;
}

.navbar-all ul li .downs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: white;
  -webkit-box-shadow: 0px 1px 1px rgba(100, 116, 139, 0.06), 0px 1px 2px rgba(100, 116, 139, 0.1);
          box-shadow: 0px 1px 1px rgba(100, 116, 139, 0.06), 0px 1px 2px rgba(100, 116, 139, 0.1);
}

.navbar-all ul li .downs .Link {
  text-decoration: none;
}

.navbar-all ul li .downs .Link Button {
  text-decoration: none;
  width: 100%;
  height: 40px;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-transform: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Open Sans', sans-serif;
  color: #111827;
  font-weight: 550;
}

.navbar-all ul li .downs .Link:hover {
  background-color: #295091;
  color: white;
}

.navbar-all ul li .downs .Link:hover Button {
  padding-left: 20px;
  color: white;
}

.navbar-all ul li:nth-child(1) .downs {
  width: 100%;
}

.navbar-all ul li:nth-child(2) .downs {
  width: 350px;
}

.navbar-all ul li:nth-child(3) .downs {
  width: 300px;
}

.navbar-all ul li:nth-child(4) .downs {
  width: 300px;
}

.navbar-all ul li:nth-child(5) .downs {
  width: 250px;
}

.navbar-all ul li:nth-child(6) .downs {
  width: 100%;
}

.navbar-all ul li:nth-child(1):hover {
  background-color: #295091;
}

.navbar-all ul li:nth-child(1):hover span {
  color: white;
}

.navbar-all ul li:nth-child(1):hover .downs {
  height: 160px;
}

.navbar-all ul li:nth-child(2):hover {
  background-color: #295091;
}

.navbar-all ul li:nth-child(2):hover span {
  color: white;
}

.navbar-all ul li:nth-child(2):hover .downs {
  height: 160px;
}

.navbar-all ul li:nth-child(3):hover {
  background-color: #295091;
}

.navbar-all ul li:nth-child(3):hover span {
  color: white;
}

.navbar-all ul li:nth-child(3):hover .downs {
  height: 80px;
}

.navbar-all ul li:nth-child(4):hover {
  background-color: #295091;
}

.navbar-all ul li:nth-child(4):hover span {
  color: white;
}

.navbar-all ul li:nth-child(4):hover .downs {
  height: 160px;
}

.navbar-all ul li:nth-child(5):hover {
  background-color: #295091;
}

.navbar-all ul li:nth-child(5):hover span {
  color: white;
}

.navbar-all ul li:nth-child(5):hover .downs {
  height: 160px;
}

.navbar-all ul li:nth-child(6):hover {
  background-color: #295091;
}

.navbar-all ul li:nth-child(6):hover span {
  color: white;
}

.navbar-all ul li:nth-child(6):hover .downs {
  height: 40px;
}

@media only screen and (max-width: 1450px) {
  span {
    font-size: 14px !important;
  }
  .Button {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 1000px) {
  span {
    font-size: 10px !important;
  }
  .Button {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 768px) {
  ul {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: auto;
  }
  ul li {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: 100% !important;
  }
  ul li span {
    width: 100% !important;
    height: 40px !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    position: absolute !important;
    top: 0 !important;
    font-size: 14px !important;
  }
  ul li span i {
    width: 40px !important;
    height: 40px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    border-left: 2px solid rgba(148, 153, 159, 0.06);
  }
  ul li a {
    width: 100% !important;
    height: 40px !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  ul li a .Button {
    font-size: 14px !important;
    width: auto !important;
  }
  ul .downs {
    top: 40px !important;
    width: 100% !important;
  }
  ul .downs text {
    font-size: 14px !important;
  }
  ul li:nth-child(1):hover {
    background-color: #295091;
    height: 200px !important;
  }
  ul li:nth-child(1):hover span {
    color: white;
  }
  ul li:nth-child(1):hover .downs {
    height: 160px;
  }
  ul li:nth-child(2):hover {
    background-color: #295091;
    height: 200px !important;
  }
  ul li:nth-child(2):hover span {
    color: white;
  }
  ul li:nth-child(2):hover .downs {
    height: 160px;
  }
  ul li:nth-child(3):hover {
    background-color: #295091;
    height: 120px !important;
  }
  ul li:nth-child(3):hover span {
    color: white;
  }
  ul li:nth-child(3):hover .downs {
    height: 80px;
  }
  ul li:nth-child(4):hover {
    background-color: #295091;
    height: 200px !important;
  }
  ul li:nth-child(4):hover span {
    color: white;
  }
  ul li:nth-child(4):hover .downs {
    height: 160px;
  }
  ul li:nth-child(5):hover {
    background-color: #295091;
    height: 200px !important;
  }
  ul li:nth-child(5):hover span {
    color: white;
  }
  ul li:nth-child(5):hover .downs {
    height: 160px;
  }
  ul li:nth-child(6):hover {
    background-color: #295091;
    height: 80px !important;
  }
  ul li:nth-child(6):hover span {
    color: white;
  }
  ul li:nth-child(6):hover .downs {
    height: 40px;
  }
  .NavbarNoActive {
    height: 0 !important;
    overflow: hidden !important;
  }
  .menuBtn {
    width: 100% !important;
    height: 40px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    padding-right: 10px !important;
  }
  .navbar-menu-icon {
    display: block !important;
  }
}
/*# sourceMappingURL=Navbar.css.map */