@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.hodim-page {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .hodim-all-card {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    box-shadow: 0px 1px 1px rgba(100, 116, 139, 0.06),
      0px 1px 2px rgba(100, 116, 139, 0.1);
    .hodim-title {
      font-family: "Open Sans", sans-serif;
      font-size: 25px;
      letter-spacing: 3px;
      line-height: 24.98px;
    }
    .hodim-card {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      gap: 20px;
      .hodim-users {
        width: 100%;
        height: 350px;
        display: flex;
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        gap: 20px;
        box-shadow: 0px 1px 1px rgba(100, 116, 139, 0.06),
          0px 1px 2px rgba(100, 116, 139, 0.1);
        .img {
          width: auto;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px;
          img {
            width: 400px;
            border-radius: 5px;
            box-shadow: 0px 1px 1px rgba(100, 116, 139, 0.06),
              0px 1px 2px rgba(100, 116, 139, 0.1);
          }
        }
        .hodim-about {
          width: auto;
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 20px;
          .hodim-name {
            font-family: "Open Sans", sans-serif;
            font-size: 25px;
            letter-spacing: 2px;
          }
          .hodim-lavozim {
            width: 650px;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            letter-spacing: 1px;
            color: rgba(107, 114, 128, 1);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1279px) {
  .hodim-lavozim {
    width: 450px !important;
  }
  .hodim-contact {
    width: 100% !important;
    gap: 15px !important;
  }
}

@media only screen and (max-width: 1100px) {
  .hodim-users {
    flex-direction: column !important;
    height: auto !important;
  }
  .hodim-lavozim {
    width: auto !important;
  }
}

@media only screen and (max-width: 490px) {
  .hodim-title {
    font-size: 20px !important;
  }
  .img img {
    width: 200px !important;
  }

  .hodim-about {
    .hodim-name {
      font-size: 20px !important;
    }
    .hodim-lavozim {
      font-size: 15px !important;
    }
    .hodim-contact {
      flex-direction: column !important;
      h4 {
        font-size: 10px !important;
        gap: 5px !important;
        a {
          font-size: 12px !important;
        }
        p {
          font-size: 12px !important;
        }
      }
    }
  }
}
